* {
    margin: 0;
    padding: 0;
}
.main {
    background-color: #b0b0b0;
    width: 1225px;
    height: 460px;
    margin: 100px auto;
}
.main li{
    float: left;
    list-style: none;
    overflow: hidden;
    height: 100%;
}
.main .natural {
    width:245px;
}
.hidden {
    width: 100px;
}
.play {
    width: 825px;
}