*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   /*  css3 盒子模型 */
}
li{
    list-style-type: none;
}
.w{
    width: 1200px;
    margin: auto;
}
h1{
    font-size: 14px;
}
a{
    cursor: pointer;
    text-decoration:none;
}
p{
    font-size: 12px;
}
